/* ----------------------------

    Primary Styles

------------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
   font: 16px/1.4 "roboto", sans-serif;
   font-weight: 300;
}

a {
   text-decoration: none;
   color: inherit;
}

strong {
   font-weight: 700;
}

p {
   font-family: "yrsa", serif;
}


/* ----------------------------

    Slider Styles

------------------------------- */

#wc-slideshow {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 16px;
   height: 100vh;
   min-height: 480px;
   @media screen and (min-width: 768px) {
      padding: 28px;
   }

   .wc-slideshow__slides {
      flex: 1;
      li {
         position: relative;
         min-height: 100%;
         background: #333;
         .wc-slide__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
         }

         .wc-slide__content {
            z-index: 2;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 18px;
            width: 100%;
            text-align: center;
            color: #fff;
            background: rgba(0, 0, 0, 0.94);
            &::before {
               content: " ";
               position: absolute;
               top: -140px;
               left: 0;
               width: 100%;
               height: 140px;
               background-image: linear-gradient(
                  to top, rgba(0, 0, 0, 0.94) 30%, transparent
               );
            }

            h2 {
               margin: 0 0 12px;
               font-size: 24px;
               text-transform: uppercase;
            }
         }

         @media screen and (min-width: 768px) {
            .wc-slide__content {
               top: 0;
               bottom: auto;
               padding: 26px;
               width: 300px;
               height: 100%;
               text-align: right;
               &::before {
                  top: 0;
                  left: -140px;
                  width: 140px;
                  height: 100%;
                  background-image: linear-gradient(
                     to left, rgba(0, 0, 0, 0.94) 50%, transparent
                  );
               }

               h2 {
                  margin: 53px 0 0;
                  font-size: 32px;
               }

               p {
                  position: absolute;
                  top: 50%;
                  right: 26px;
                  transform: translateY(-50%);
                  min-width: 330px;
               }
            }
         }
      }
   }

   .wc-slideshow__navigation {
      z-index: 3;
      position: absolute;
      top: 34px;
      left: 28px;
      a > img {
         width: 30px;
      }

      @media screen and (min-width: 768px) {
         top: auto;
         left: 44px;
         bottom: 44px;
         a.flex-next {
            margin-left: 42px;
         }
      }
   }

   .wc-slideshow__pagination {
      z-index: 3;
      position: absolute;
      top: 34px;
      right: 34px;
      ol > li {
         margin-bottom: 16px;
         a {
            display: block;
            transition: all 0.3s;
            border: 2px solid rgba(255, 255, 255, 0.8);
            border-radius: 100%;
            width: 14px;
            height: 14px;
            background: transparent;

            /* Hidden text */
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            &.flex-active {
               border: 2px solid rgba(255, 255, 255, 0.7);
               background: #fff;
            }
         }

         &:last-child {
            margin-bottom: 0;
         }
      }

      @media screen and (min-width: 768px) {
         position: absolute;
         top: auto;
         right: 52px;
         bottom: 52px;
      }
   }
}
